<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head profile="http://selenium-ide.openqa.org/profiles/test-case">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="selenium.base" href="{{base_url}}" />
        <title> {{ testcase_name }} </title>
    </head>
    <body>
        <table cellpadding="1" cellspacing="1" border="1">
            <thead>
                <tr><td rowspan="1" colspan="3"> {{ testcase_name }} </td></tr>
            </thead>
            <tbody>
            {% for command, target, value in command_list %}
                <tr><td>{{ command }}</td><td>{{ target }}</td><td>{{ value }}</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>
